---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Intro from "../components/Intro.astro";
import AboutTheTheme from "../components/AboutTheTheme.astro";
import { SITE_TITLE } from "../config";
---
<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">
    <img src="../../images/profile.png" alt="Profile Picture, Dr. Facilier" class="rounded-full block ml-auto mr-auto w-[30%] mb-4"/>
    
    <p>Hi! I go by mikwee online since 2014. I'm Jewish, Israeli,
    autistic, and gay. I'm 18, and I enjoy a lot of things, as seen below. Oh, and
    I'm also a brony. Thanks for coming by!</p>
    <h2 id="interests">Interests</h2>
    <ul>
    <li>✏️ Animation (Especially My Little Pony G4)</li>
    <li>🎮 Gaming</li>
    <li>✍️ Writing</li>
    <li>🎵 Music</li>
    <li>✡️ Religion (from a secular Jewish perspective)</li>
    <li>📐 Design</li>
    <li>💻 Programming</li>
    <li>🌐 Centrist politics</li>
    </ul>
    <h2 id="skills">Skills</h2>
    <ul>
    <li>Svelte</li>
    <li>CSS</li>
    <li>Git</li>
    <li>Dart</li>
    <li>Flutter</li>
    <li>Ruby</li>
    <li>Writing</li>
    </ul>
    <h2 id="accounts-that-arent-linked-up-there">Accounts that aren't
    linked up there</h2>
    <ul>
    <li><a href="https://bsky.app/profile/mikwee.bsky.social">Bluesky</a></li>
    <li><a href="https://twitter.com/NCILCulture">No Context Israeli
    Culture</a></li>
    <li><a href="https://musicboard.app/mikwee">Musicboard</a></li>
    <li><a href="https://letterboxd.com/mikwee">Letterboxd</a></li>
    <li>Discord: mikwee#1885</li>
    <li>Matrix: <span class="citation"
    data-cites="mikwee:matrix.org">@mikwee:matrix.org</span></li>
    <li>Revolt: <span class="citation"
    data-cites="mikwee">@mikwee</span>→</li>
    </ul>
  </Fragment>
</PageLayout>
