---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div class="mb-2">
    This blog is built with 
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
      href={"https://github.com/flexdinesh/blogster"}
      target="_blank"
    >
      Blogster</a> and hosted on
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      href={"https://codeberg.page"}
      target="_blank"
    >
      Codeberg Pages</a>.
  </div>
  <div>
    Unless stated otherwise, all content on this site owned by me is released under <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00da66] to-[#14ffd8] hover:after:bg-gradient-to-r hover:after:from-[#00da66] hover:after:to-[#14ffd8]"
      href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
